/* app css stylesheet */

body{
  background-color: #1d5856;
  color: #6d7275;
}

header{
}

header h1{
  margin: 0;
  padding-right: 10%;
  padding-left: 10%;
}

header h1 a{
  text-decoration: none;
  color: #6d7275;
}

.siteContentContainer{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 1%;
  padding-left: 1%;
  background-color: #fff;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.searchInput{
  margin-top: 15px;
  display: block;

}

.leftSideMenu{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-top: 20px;
}

.startViewContainer{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-top: 20px;
}

.mainContentContainer{
display: inline-block;
width: 50%; 
margin-bottom: 20px;
}

.recipeList{
  background-color: #fff;
  
}

.recipeListItem{
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 5px;
  width: 30%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */

}

.recipeListItem a{
  color: #626363;
  text-decoration: none;
}

.recipeListItem h1{
  margin: 0;
  font-size: 22px;
}

.recipeItem{
margin-top: 25px;
}

.recipeImage{
  width: 100%;
  height: auto;
  background: url(../assets/images/beachbackground.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.recipeContainer{
  margin-top: 25px;
  overflow: auto;
}
.recipeIngredientsList{
  float: left;
  width: 40%;
}

.recipeInstructions{
  float: left;
  width: 40%;
}


