<aside class="leftSideMenu">
<ul class="suggestedRecipeItemList">
		<li ng-repeat="recipe in recipes" class="suggestedRecipeListItem">
			<a href="#/view1/{{recipe.id}}">
				<img ng-src="{{recipe.image}}" class="recipeListItemImage">
				<h1>{{recipe.name}}</h1>
			</a>
		</li>
	</ul>
</aside>

<div class="recipeItem">
<img ng-src="{{selectedRecipe.image}}" class="recipeImage">
<h1>{{selectedRecipe.name}}</h1>
{{selectedRecipe.description}}
<div class="recipeContainer">
	<div class="recipeIngredientsList">
	Ingredients
		<ul>
			<li ng-repeat="ingredient in selectedRecipe.ingredients">
				{{ingredient.name}} {{ingredient.amount}}
			</li>
		</ul>
	</div>
	<div class="recipeInstructions">
	{{selectedRecipe.instructions}}
	</div>
</div>
</div>

